.selected-button {
  all: unset;
  padding: 20px;
  border-radius: 6px;
  cursor: pointer;
}

.selected-button.alto {
  background-color: #f35d5d;
}

.selected-button.medio {
  background-color: #489e81;
}

.selected-button.baixo {
  background-color: #baeedb;
}

.--selected {
  padding: 18px;
}

.selected-button.alto.--selected {
  background-color: #f35d5d;
  background-color: transparent;
  border: 2px solid #f35d5d;
  color: #f35d5d;
}

.selected-button.medio.--selected {
  background-color: #489e81;
  background-color: transparent;
  color: #489e81;
  border: 2px solid #489e81;
}

.selected-button.baixo.--selected {
  background-color: #baeedb;
  background-color: transparent;
  color: #baeedb;
  border: 2px solid #baeedb;
}
