.card {
  background-color: rgba(0, 0, 0, 0.35);
  border: 1px solid #1B242B;
  box-sizing: border-box;
  box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.05);
  border-radius: 10px;

  width: 450px;
  padding: 33px 30px;
  color: #FFFFFF;

  cursor: pointer;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.card-header {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: repeat(2, 35px);
  column-gap: 24px;
  row-gap: 12px;
}

.card-content {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.card-content span {
  color: #BAEEDB;
  font-weight: 600;
}

.item-price {
  color: #5CD5A8;
  font-weight: 600;
}

.content-row {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: space-between;
}
