.btn-light-green {
    all: unset;
    cursor: pointer;
    
    background-color: #5CD5A8;
    border-radius: 6px;
    padding: 20px 50px;

    text-align: center;
    color: #000000;
    text-transform: uppercase;

    width: max-content;
}

.btn {
    all: unset;
    cursor: pointer;
    color: #000000;
    border-radius: 6px;
    width: 80px;
    text-align: center;

    padding: 5px 10px;

    align-self: flex-end;
}

.btn.--confirm {
    background-color: #5CD5A8;
}

.btn.--decline {
    background-color: #f35d5d;
}

.btn-dark-green {
    all:unset;
    cursor: pointer;

    background-color: #489E81;
    border-radius: 6px;
    color: #000000;
    padding: 11px 18px;
    width: max-content;
}

.btn-transparent {
    all: unset;
    cursor: pointer;

    text-decoration: underline;
    color: #FFFFFF;
}