@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import './buttons.css';
@import './flex.css';
@import './tags.css';
@import './texts.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  min-height: 100vh;
  background-color: #1B242B;
  padding: 34px 106px;

  display: flex;
  flex-direction:column;

  font-family: 'Poppins', sans-serif;

  color: #1B242B;
}

html {
  scroll-behavior: smooth;
}

.ml-55-px {
  margin-left: 55px;
}

.width-100px {
  width: 500px;
}