.tag-container {
  display: flex;
  column-gap: 20px;
  grid-column: 2/4;
  grid-row: 2;
}

.tag {
  padding: 0 13px;
  text-align: center;
  height: 31px;

  border-radius: 4px;
  color: #000000;
  font-size: 14px;
  display: flex;
  align-items: center;

  font-weight: 500;
}

.tag.--blue {
  background-color: #38AAD2;
}

.tag.--green {
  background-color: #BAEEDB;
}