.button-wrapper {
  display: flex;
  gap: 30px;
  margin-left: 50px;
}

.programs-button-wrapper {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  max-width: 500px;
  margin-left: 50px;
  margin-top: 50px;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 30px;
  margin: 30px 55px 0 55px;
}
