.container-step {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: repeat(2, 0.5fr);
  align-items: center;

  grid-column-gap: 15px;
  grid-row-gap: 15px;
  color: #ffffff;
}

.step-number {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #5cd5a8;
  text-align: center;
  line-height: 40px;

  color: #1b242b;
  font-weight: bold;
  font-size: 20px;
}

.container-step h2 {
  font-size: 24px;
  font-weight: 600;
}

.step-description {
  grid-column-start: 2;
  grid-column-end: 3;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip img {
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #212B33;
  padding: 5px 0;
  border-radius: 6px;

  color: #fff;
  font-size: 14px;
  font-weight: 300;
  text-align: center;

  margin-left: 10px;
 
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}