.dark-button {
  all: unset;
  color: #5cd5a8;
  text-transform: uppercase;
  background-color: #12171c;

  padding: 20px 32px;
  border-radius: 4px;
  cursor: pointer;

  margin-top: 24px;
  margin-bottom: 24px;
  
  display: flex;
  align-items: center;
  gap: 24px;

  width: max-content;

  font-size: 14px;
}